astroid==2.12.13
cfgv==3.3.1
dill==0.3.6
distlib==0.3.6
filelock==3.8.2
identify==2.5.9
isort==5.10.1
lazy-object-proxy==1.8.0
mccabe==0.7.0
nodeenv==1.7.0
platformdirs==2.5.4
pre-commit==2.20.0
pylint==2.15.8
PyYAML==6.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
virtualenv==20.17.1
wrapt==1.14.1
