name: Upload Python Package

on:
  release:
    types: [published]
  push:
    branches: [main]
    paths:
      - 'src/**'
      - '*.py'
      - 'test/**'
      - '.github/workflows/**'
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
      - 'src/**'
      - '*.py'
      - 'test/**'
      - '.github/workflows/**'

permissions:
  contents: read

jobs:
  ci:
    if: github.event_name != 'release'
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.11"]
        os: [ubuntu-latest, windows-latest]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: make
      - name: Build CI
        run: make build
      - name: Syntax CI
        run: make ci

  deploy:
    runs-on: ubuntu-latest
    if: github.event_name == 'release'
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.11.0'
    - name: Install dependencies
      run: make
    - name: Build package
      run: make build
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@v1.8.5
      with:
        user: __token__
        password: ${{ secrets.PYPI_API_TOKEN }}
